<div class="container-fluid">
    <h2 class="mb-3">{{title}}</h2>
    <p class="mb-3">{{slogan}}<i class="bi bi-info-circle info-icon" data-bs-toggle="modal" data-bs-target="#infoModal"
        aria-label="More Information"></i></p>

    <div class="row mb-3">
        <div class="col-md-7">
            <form id="myForm" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    <div class="form-group">
                        <label for="domainInput" class="form-label">{{ form.domain.label.text }} <span
                                class="text-muted">(Required)</span></label>
                        {{ form.domain(class_="form-control", id="domainInput", aria_describedby="domainHelp") }}
                        {% for error in form.domain.errors %}
                        <small id="domainError" class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        <div id="domainHelp" class="form-text">Please enter your domain name.</div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="form-group">
                        <button id="submitButton" type="submit" class="btn btn-outline-primary w-100"
                            title="Click to submit the form">
                            <span class="spinner-border spinner-border-sm d-none" role="status"
                                aria-hidden="true"></span>
                            <span class="sr-only">Loading...</span>
                            Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <div class="alert alert-info speech-bubble w-100" role="alert">
                <p class="mb-0">{{definition}}</p>
            </div>
        </div>
    </div>
</div>

<style>
    /* Custom CSS for the speech bubble */
    .speech-bubble {
        position: relative;
        background-color: #d1ecf1;
        border-radius: .4em;
        padding: 1rem;
    }

    ._speech-bubble::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -20px;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-right-color: #d1ecf1;
        border-left: 0;
        margin-top: -10px;
        margin-left: -1px;
    }
</style>

<script>
    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    // Capturar el evento de envío del formulario
    document.getElementById('myForm').addEventListener('submit', function () {
        // Mostrar el spinner al hacer clic en Enviar
        var submitButton = document.getElementById('submitButton');
        submitButton.querySelector('.spinner-border').classList.remove('d-none');
        submitButton.querySelector('.button-text').textContent = "Loading...";
        submitButton.disabled = true; // Deshabilitar el botón para evitar envíos duplicados
    });
</script>