<style>
    .results-table {
        margin-top: 20px;
    }

    .results-table th,
    .results-table td {
        text-align: left;
        padding: 10px;
    }

    .results-table th {
        background-color: #f8f9fa;
    }

    .results-table td {
        background-color: #fff;
    }

    .duration {
        font-style: italic;
    }

    #duration-chart-container {
        max-width: 400px;
        /* Adjusted the maximum width */
        margin: 20px auto;
    }

    #duration-chart {
        width: 100% !important;
        height: auto !important;
    }

    .status-icon {
        font-size: 2rem;
    }

    .status-icon.valid {
        color: green;
    }

    .status-icon.invalid {
        color: red;
    }
</style>

<!-- header dashboard-->
<style>
    .chart-container {
        position: relative;
        margin: auto;
        height: 150px;
        width: 150px;

    }

    #dangerPercentageChart, #validResultsChart {
        
    }
    #durationChart, #totalChecksChart {

        height: 150px;
        width: 150px;

    }

    .bg-success {
        background-color: green !important;
    }

    .bg-danger {
        background-color: red !important;
    }

    .badge.bg-black {
        background-color: black;
        color: white;
    }

    .badge.text-success {
        color: green;
    }

    .badge.text-danger {
        color: red;
    }

    .accordion-button.collapsed .row .text-end {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .dashboard-header {
        margin-bottom: 30px;
    }

    .percentage {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .badge-custom {
        font-size: 1.25rem;
    }

    .status-icon {
        font-size: 2.5rem;
    }

    .valid {
        color: green;
    }

    .invalid {
        color: red;
    }
</style>
