# Archivos de configuración sensibles
instance/config_prod.py
.env

# Archivos de logs
*.log

# Archivos de compilación
__pycache__/
*.pyc

# Archivos de entornos virtuales
.venv/
.dev/
.venv
.vscode
.trash
__pycache__
*.log
instance/*
migrations/*
.pyc
*.pyc

