<!-- app/templates/tools/accesibility/wcag.html -->
 
{% extends "base.html" %}

{% block title %}{{title}} | {{slogan}}{% endblock %}
{% block description %}{{slogan}}{% endblock %}
{% block keywords %}{{keywords}}{% endblock %}


{% block content %}


{% include 'tools/styles.html' %}

    {% include 'inc/breadcrumbs.html' %}

    <h2  class="mb-3">{{title}} <i class="bi bi-info-circle info-icon" data-bs-toggle="modal" data-bs-target="#infoModal"></i></h2>
    <p  class="mb-3">{{ slogan }}</p>

    <div class="alert alert-info" role="alert">
        <p class="mb-0">{{ definition }}</p>
    </div>

    {% include 'tools/quick_form.html' %}

    <hr>

    
    {% if results %}
    {% if is_results_valid %}

    <div class="tab-content mt-4" id="jsonTabsContent">
        <div class="tab-pane fade show active" id="Ortografia" role="tabpanel"
            aria-labelledby="Ortografia">

            <div class="row">
                {% set batch_size = results|length // 4 %}
                {% set batches = results|batch(batch_size) %}
                {% for batch in batches %}
                <div class="col-md-3">
                    {% for word, suggestions in batch %}
                    <p class="list-item list-item-border" data-bs-toggle="tooltip"
                        data-bs-placement="right" title="{{ suggestions|join('·') }}"
                        data-bs-html="true">{{
                        word }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <div id="collapseZero1" class="accordion-collapse collapse" aria-labelledby="headingZero1"
    data-bs-parent="#accordionExample">
    <div class="accordion-body">
        <div class="tab-content mt-4" id="jsonTabsContent">
            <div class="col">
                <ul class="nav nav-tabs" id="jsonTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="Ortografia" data-bs-toggle="tab"
                            data-bs-target="#Ortografia" type="button" role="tab"
                            aria-controls="Ortografia" aria-selected="true">Resultados
                            Ortografia</button>
                    </li>

                    <!-- Add more tabs for each section -->
                </ul>
                <div class="tab-content mt-4" id="jsonTabsContent">
                    <div class="tab-pane fade show active" id="Ortografia" role="tabpanel"
                        aria-labelledby="Ortografia">

                        <div class="row">
                            {% set batch_size = results|length // 4 %}
                            {% set batches = results|batch(batch_size) %}
                            {% for batch in batches %}
                            <div class="col-md-3">
                                {% for word, suggestions in batch %}
                                <p class="list-item list-item-border" data-bs-toggle="tooltip"
                                    data-bs-placement="right" title="{{ suggestions|join('·') }}"
                                    data-bs-html="true">{{
                                    word }}</p>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Add more tab content for each section -->
    </div>
</div>

{% else %}
<p>No se encontraron resultados válidos.</p>
{% endif %}

{% include 'tools/buzz_report.html' %}

{% endif %}

{% include 'tools/help_modal.html' %}

{% endblock %}

