<!-- Footer -->


<!-- Info Bar -->
<div class="info-bar text-center py-2 bg-primary text-white">
  Mo0nLite 🐞 ¿Has encontrado un bug? <a href="#" class="text-warning text-decoration-underline">Reportar error</a>
</div>
<br clear="all" />
<footer>


  <div class="container">


    <div class="row">
      <div class="col-md-3 footer-column">
        <h6 class="dropdown-header">Conoce Monitor 🧩</h6>
        <!-- <a class="dropdown-item" href="#"><i class="fas fa-bullhorn"></i> Comunicados</a>
                <a class="dropdown-item" href="#"><i class="fas fa-bullhorn"></i> Equipo</a>
                <a class="dropdown-item" href="#"><i class="fas fa-history"></i> Historia</a>
                <a class="dropdown-item" href="#"><i class="fas fa-bullhorn"></i> Tecnologías</a>
             
                <a class="dropdown-item" href="#"><i class="fas fa-briefcase"></i> Casos Reales</a>
                <a class="dropdown-item" href="#"><i class="fas fa-handshake"></i> Partners</a>
                <a class="dropdown-item" href="#"><i class="fas fa-life-ring"></i> Soporte</a>
                <a class="dropdown-item" href="#"><i class="fas fa-life-ring"></i> Contacto</a>
                <a class="dropdown-item" href="#"><i class="fas fa-life-ring"></i> Atención al cliente</a>
                <a class="dropdown-item" href="#"><i class="fas fa-life-ring"></i> Reportar un error</a>
      -->
      </div>
      <div class="col-md-3 footer-column">
        <h6 class="dropdown-header">Planes y Precios 💵</h6>
        <!-- <a class="dropdown-item" href="#"><i class="fas fa-user-graduate"></i> Plan Estudiante</a>
        <a class="dropdown-item" href="#"><i class="fas fa-briefcase"></i> Plan Profesional</a>
        <a class="dropdown-item" href="#"><i class="fas fa-building"></i> Plan Agencia</a>
        <a class="dropdown-item" href="#"><i class="fas fa-suitcase"></i> Plan Corporate</a>
        
        <h6 class="dropdown-header">Clientes 👥</h6>
        <a class="dropdown-item" href="#"><i class="fas fa-user-graduate"></i> Estudiantes</a>
        <a class="dropdown-item" href="#"><i class="fas fa-user-tie"></i> Profesionales / PYMES</a>
        <a class="dropdown-item" href="#"><i class="fas fa-handshake"></i> Agencias</a>
        <a class="dropdown-item" href="#"><i class="fas fa-building"></i> Corporativos</a>
        <a class="dropdown-item" href="#"><i class="fas fa-university"></i> Admon. Pública</a>
        -->

      </div>
      <div class="col-md-3 footer-column">
        <h6 class="dropdown-header">Recursos 📚</h6>
        <!--
        <a class="dropdown-item" href="#"><i class="fas fa-blog"></i> Blog</a>
        <a class="dropdown-item" href="#"><i class="fas fa-book-open"></i> Guías</a>
        <a class="dropdown-item" href="#"><i class="fas fa-book"></i> Nomenclatura</a>
        <a class="dropdown-item" href="#"><i class="fas fa-info-circle"></i> Centro de Ayuda</a>
-->
      </div>

      <div class="col-md-3 footer-column">
        <h6 class="dropdown-header">Disclaimer ⚖️</h6>
        <!--
        <a class="dropdown-item" href="#"><i class="fas fa-gavel"></i> Aviso Legal</a>
        <a class="dropdown-item" href="#"><i class="fas fa-file-contract"></i> Términos de uso</a>
        <a class="dropdown-item" href="#"><i class="fas fa-user-secret"></i> Privacidad y Cookies</a>
        <a class="dropdown-item" href="#"><i class="fas fa-shield-alt"></i> Seguridad</a>
        <a class="dropdown-item" href="#"><i class="fas fa-exclamation-triangle"></i> Descargo
          Responsabilidad</a>
          -->
      </div>
    </div>
  </div>



  <!-- Top Bar -->
  <div class="top-bar d-flex justify-content-center align-items-center py-2 bg-light">
    <div class="d-flex flex-wrap gap-3">
      <a href="#" class="text-dark text-decoration-none fw-semibold">📢 Anunciarse</a>
      <a href="#" id="showSidebar" class="text-dark text-decoration-none fw-semibold">🗞️ Comunicados</a>
      <a href="#" class="text-dark text-decoration-none fw-semibold">💬 Contacto</a>
    </div>
  </div>


</footer>