<!-- Footer -->

<br clear="all" />
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-column">
        <h6 class="dropdown-header">Conoce Monitor 🧩</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-bullhorn"></i> Comunicados</a>
                <a class="dropdown-item" href="#"><i class="fas fa-bullhorn"></i> Equipo</a>
                <a class="dropdown-item" href="#"><i class="fas fa-history"></i> Historia</a>
                <a class="dropdown-item" href="#"><i class="fas fa-bullhorn"></i> Tecnologías</a>
                <!--
                <a class="dropdown-item" href="#"><i class="fas fa-briefcase"></i> Casos Reales</a>
                <a class="dropdown-item" href="#"><i class="fas fa-handshake"></i> Partners</a>
                <a class="dropdown-item" href="#"><i class="fas fa-life-ring"></i> Soporte</a>
                <a class="dropdown-item" href="#"><i class="fas fa-life-ring"></i> Contacto</a>
                <a class="dropdown-item" href="#"><i class="fas fa-life-ring"></i> Atención al cliente</a>
                <a class="dropdown-item" href="#"><i class="fas fa-life-ring"></i> Reportar un error</a>
      -->
      </div>
      <div class="col-md-3 footer-column">
        <h6 class="dropdown-header">Planes y Precios 💵</h6>
        <a class="dropdown-item" href="#"><i class="fas fa-user-graduate"></i> Plan Estudiante</a>
        <a class="dropdown-item" href="#"><i class="fas fa-briefcase"></i> Plan Profesional</a>
        <a class="dropdown-item" href="#"><i class="fas fa-building"></i> Plan Agencia</a>
        <a class="dropdown-item" href="#"><i class="fas fa-suitcase"></i> Plan Corporate</a>
        <!-- 
        <h6 class="dropdown-header">Clientes 👥</h6>
        <a class="dropdown-item" href="#"><i class="fas fa-user-graduate"></i> Estudiantes</a>
        <a class="dropdown-item" href="#"><i class="fas fa-user-tie"></i> Profesionales / PYMES</a>
        <a class="dropdown-item" href="#"><i class="fas fa-handshake"></i> Agencias</a>
        <a class="dropdown-item" href="#"><i class="fas fa-building"></i> Corporativos</a>
        <a class="dropdown-item" href="#"><i class="fas fa-university"></i> Admon. Pública</a>
        -->
     
      </div>
      <div class="col-md-3 footer-column">
        <h6 class="dropdown-header">Recursos 📚</h6>
        <a class="dropdown-item" href="#"><i class="fas fa-blog"></i> Blog</a>
        <a class="dropdown-item" href="#"><i class="fas fa-book-open"></i> Guías</a>
        <a class="dropdown-item" href="#"><i class="fas fa-book"></i> Nomenclatura</a>
        <a class="dropdown-item" href="#"><i class="fas fa-info-circle"></i> Centro de Ayuda</a>

      </div>
     
      <div class="col-md-3 footer-column">
        <h6 class="dropdown-header">Disclaimer ⚖️</h6>
        <a class="dropdown-item" href="#"><i class="fas fa-gavel"></i> Aviso Legal</a>
        <a class="dropdown-item" href="#"><i class="fas fa-file-contract"></i> Términos de uso</a>
        <a class="dropdown-item" href="#"><i class="fas fa-user-secret"></i> Privacidad y Cookies</a>
        <a class="dropdown-item" href="#"><i class="fas fa-shield-alt"></i> Seguridad</a>
        <a class="dropdown-item" href="#"><i class="fas fa-exclamation-triangle"></i> Descargo
          Responsabilidad</a>
      </div>
    </div>
  </div>
<br clear="all"/><!-- style="color: var(--primary-color);" /> -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-column">
        <h6>Why SE Ranking</h6>
        <a href="#">for Agencies</a>
        <a href="#">for Enterprises</a>
        <a href="#">for SMBs</a>
        <!--
        <a href="#">for Entrepreneurs</a>
        <a href="#">Case Studies</a>
        <a href="#">Testimonials</a>
        <a href="#">Our Data</a>
        <a href="#">About us</a>
        <a href="#">Careers</a>
        <a href="#">For Media</a>
        <a href="#">Affiliate</a>
        -->
      </div>
      <div class="col-md-3 footer-column">
        <h6>Features</h6>
        <a href="#">Rank Tracker</a>
        <a href="#">On-Page SEO Checker</a>
        <a href="#">Website Audit</a>
        <!--
        <a href="#">Competitor Analysis Tool <span class="update">Update</span></a>
        <a href="#">Backlink Checker <span class="update">Update</span></a>
        <a href="#">Local Marketing Tool</a>
        <a href="#">Insights <span class="new">New</span></a>
        <a href="#">Keyword Suggestion Tool</a>
        <a href="#">Keyword Grouper</a>
        <a href="#">Content Marketing Tool</a>
        <a href="#">Content Editor</a>
        <a href="#">AI Writer</a>
        -->
      </div>
      <div class="col-md-3 footer-column">
        <h6>Other SEO Tools</h6>
        <a href="#">Backlink Tracking Tool</a>
        <a href="#">SERP Tracker</a>
        <a href="#">Agency Pack</a>
        <!--
        <a href="#">SEO Report Generator</a>
        <a href="#">Lead Generator</a>
        <a href="#">API</a>
        <a href="#">White Label SEO Software</a>
        -->
      </div>
      <div class="col-md-3 footer-column">
        <h6>Resources</h6>
        <a href="#">Blog</a>
        <a href="#">Thorough SEO guides, client case studies, and more</a>
        <a href="#">Webinars</a>
        <a href="#">On-demand and upcoming online events with industry experts</a>
        <!--
        <a href="#">Academy</a>
        <a href="#">Practical online courses for SEO experts and agency owners</a>
        <a href="#">Agency Hub <span class="new">New</span></a>
        <a href="#">Ultimate Guide to Navigating for Agency Success</a>
        <a href="#">Agency Catalog</a>
        <a href="#">Handpicked list of leading SEO agencies worldwide</a>
        <a href="#">How to pick an SEO agency</a>
        <a href="#">Tips for finding the right agency for you</a>
        <a href="#">What’s new?</a>
        <a href="#">Latest product updates from the SE Ranking team</a>
        -->
      </div>
    </div>
  </div>



</footer>