<!-- Redesigned Header -->
<header class="header">

  <!-- Info Bar 
  <div class="info-bar text-center py-2 bg-primary text-white">
    Mo0nLite 🐞 ¿Has encontrado un bug? <a href="#" class="text-warning text-decoration-underline">Reportar error</a>
  </div>

   -->

  <!-- Top Bar 
  <div class="top-bar d-flex align-items-right py-2 bg-light">
    <div _class="d-flex flex-wrap gap-3">

    </div>
  </div>
-->
<div class="info-bar text-center py-2 bg-primary text-white">
  <bi>usuario/contraseña para demo:</i> <b>user1/user1</b> - <b>user2 / user2</b> 
</div>
  <!-- Navbar -->
  {% include 'inc/navbar.html' %}
</header>

{% if current_user.is_authenticated %}
{% if not current_user.subscription_plan == 'Free' and not current_user.is_subscription_active() %}
<div class="row flash_message">
  <div class="alert alert-warning text-center" role="alert">
    <p>Actualiza tus medios de pago para completar tu suscripción a <b>{{ current_user.subscription_plan }}</b> </p>
  </div>

</div>
{% endif %}
{% endif %}