<!-- Info Bar -->
<div class="info-bar text-center">
 Mo0nLite 🐞 ¿Has encontrado un bug? <a href="#">Reportar error</a>
</div>

<!-- Top Bar -->
<div class="top-bar d-flex justify-content-between px-3 bg-light">
  <div class="d-flex">
    <!-- <a href="#" class="text-white me-3">Cita Comercial</a>
   -->
    <a href="#" class="text-white me-3">📢 Anunciarse</a>

  </div>
  <div class="d-flex">
    <a href="#" id="showSidebar" class="text-white me-3">🗞️ Comunicados</a>
    <a href="#" class="text-white">💬 Atención al cliente</a>
  </div>
</div>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" href="{{ url_for('index') }}"><img
        src="{{ url_for('static', filename='logo.png') }}" alt="Logo" height="50"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">

        <!-- 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutUsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            🤖 Información
          </a>
          <ul class="dropdown-menu" aria-labelledby="aboutUsDropdown">
            <div class="dropdown-menu-columns">
              <div class="column">
                <h6 class="dropdown-header">Conoce Monitor 🧩</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-bullhorn"></i> Comunicados</a>
                <a class="dropdown-item" href="#"><i class="fas fa-bullhorn"></i> Equipo</a>
                <a class="dropdown-item" href="#"><i class="fas fa-history"></i> Historia</a>
                <a class="dropdown-item" href="#"><i class="fas fa-bullhorn"></i> Tecnologías</a>
                <a class="dropdown-item" href="#"><i class="fas fa-briefcase"></i> Casos Reales</a>
                <a class="dropdown-item" href="#"><i class="fas fa-handshake"></i> Partners</a>
                <a class="dropdown-item" href="#"><i class="fas fa-life-ring"></i> Soporte</a>
                <a class="dropdown-item" href="#"><i class="fas fa-life-ring"></i> Contacto</a>
                <a class="dropdown-item" href="#"><i class="fas fa-life-ring"></i> Atención al cliente</a>
                <a class="dropdown-item" href="#"><i class="fas fa-life-ring"></i> Reportar un error</a>

              </div>
              <div class="column">
                <h6 class="dropdown-header">Planes y Precios 💵</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-user-graduate"></i> Plan Estudiante</a>
                <a class="dropdown-item" href="#"><i class="fas fa-briefcase"></i> Plan Profesional</a>
                <a class="dropdown-item" href="#"><i class="fas fa-building"></i> Plan Agencia</a>
                <a class="dropdown-item" href="#"><i class="fas fa-suitcase"></i> Plan Corporate</a>

                <h6 class="dropdown-header">Clientes 👥</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-user-graduate"></i> Estudiantes</a>
                <a class="dropdown-item" href="#"><i class="fas fa-user-tie"></i> Profesionales / PYMES</a>
                <a class="dropdown-item" href="#"><i class="fas fa-handshake"></i> Agencias</a>
                <a class="dropdown-item" href="#"><i class="fas fa-building"></i> Corporativos</a>
                <a class="dropdown-item" href="#"><i class="fas fa-university"></i> Admon. Pública</a>
              </div>
              <div class="column">
                <h6 class="dropdown-header">Recursos 📚</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-blog"></i> Blog</a>
                <a class="dropdown-item" href="#"><i class="fas fa-book-open"></i> Guías</a>
                <a class="dropdown-item" href="#"><i class="fas fa-book"></i> Nomenclatura</a>
                <a class="dropdown-item" href="#"><i class="fas fa-info-circle"></i> Centro de Ayuda</a>

                <h6 class="dropdown-header">Disclaimer ⚖️</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-gavel"></i> Aviso Legal</a>
                <a class="dropdown-item" href="#"><i class="fas fa-file-contract"></i> Términos de uso</a>
                <a class="dropdown-item" href="#"><i class="fas fa-user-secret"></i> Privacidad y Cookies</a>
                <a class="dropdown-item" href="#"><i class="fas fa-shield-alt"></i> Seguridad</a>
                <a class="dropdown-item" href="#"><i class="fas fa-exclamation-triangle"></i> Descargo
                  Responsabilidad</a>
              </div>
              <div class="column full-width">
                <a class="dropdown-item" href="#"><i class="fas fa-envelope"></i> Contactar con ventas</a>
              </div>
            </div>
          </ul>
        </li>
-->

        <!-- Domain and DNS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="domainDnsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            📬 Dominios & Correo
          </a>
          <ul class="dropdown-menu" aria-labelledby="domainDnsDropdown">
            <div class="dropdown-menu-columns">
              <div class="column">
                <h6 class="dropdown-header">Domain Information 🔍</h6>
                <a class="dropdown-item" href="/tools/domains/whois"><i class="fas fa-info-circle"></i> WHOIS</a>
                <a class="dropdown-item" href="/tools/domains/reverse"><i class="fas fa-globe"></i> Reverse Domain</a>
                <a class="dropdown-item" href="/tools/domains/cname"><i class="fas fa-cog"></i> CNAME</a>
                <a class="dropdown-item" href="/tools/domains/ip"><i class="fas fa-search"></i> IP Lookup</a>
                <a class="dropdown-item" href="/tools/domains/aaaa"><i class="fas fa-link"></i> AAAA Lookup</a>
                <a class="dropdown-item" href="/tools/domains/traceroute"><i class="fas fa-route"></i> Traceroute</a>
                <a class="dropdown-item" href="/tools/domains/nmap"><i class="fas fa-network-wired"></i> Nmap</a>
                <h6 class="dropdown-header">SpamLists Check 📛</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-ban"></i> Blacklist</a>


              </div>
              <div class="column">
                <h6 class="dropdown-header">Mail Server 📬</h6>
                <a class="dropdown-item" href="/tools/domains/mx"><i class="fas fa-server"></i> MX Discover</a>
                <a class="dropdown-item" href="/tools/domains/dmarc"><i class="fas fa-envelope-open"></i> DMARC</a>
                <a class="dropdown-item" href="/tools/domains/spf"><i class="fas fa-shield-alt"></i> SPF Lookup</a>
                <a class="dropdown-item" href="/tools/domains/dkim"><i class="fas fa-signature"></i> DKIM Lookup</a>
                <a class="dropdown-item" href="/tools/domains/txt"><i class="fas fa-file-alt"></i> TXT Lookup</a>
                <a class="dropdown-item" href="/tools/domains/dnskey"><i class="fas fa-key"></i> DNS Key</a>
                <a class="dropdown-item" href="/tools/domains/loc"><i class="fas fa-map-marker-alt"></i> LOC Entry</a>
                <a class="dropdown-item" href="/tools/domains/ipseckey"><i class="fas fa-shield-alt"></i> IP Sec Key</a>

              </div>
              <div class="column">
                <h6 class="dropdown-header">DNS Lookup 🌐</h6>
                <a class="dropdown-item" href="/tools/domains/soa"><i class="fas fa-info"></i> SOA Lookup</a>
                <a class="dropdown-item" href="/tools/domains/asn"><i class="fas fa-sitemap"></i> ASN Lookup</a>
                <a class="dropdown-item" href="/tools/domains/arin"><i class="fas fa-database"></i> ARIN Lookup</a>
                <a class="dropdown-item" href="/tools/domains/rrsig"><i class="fas fa-lock"></i> RRSIG Lookup</a>
                <a class="dropdown-item" href="/tools/domains/nsec"><i class="fas fa-lock"></i> NSEC Lookup</a>
                <a class="dropdown-item" href="/tools/domains/mtasts"><i class="fas fa-envelope"></i> MTA STS</a>
                <a class="dropdown-item" href="/tools/domains/nsec3param"><i class="fas fa-key"></i> NSEC3PARAM</a>
                <a class="dropdown-item" href="/tools/domains/srv"><i class="fas fa-network-wired"></i> SRV Lookup</a>
              </div>
              <div class="column full-width">
                <a class="dropdown-item" href="#"><i class="fas fa-book"></i> Guias y tutoriales </a>
              </div>

            </div>
          </ul>
        </li>

        <!-- Accessibility -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accessibilityDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            ♿ Accesibilidad & Usabilidad
          </a>
          <ul class="dropdown-menu" aria-labelledby="accessibilityDropdown">
            <div class="dropdown-menu-columns">
              <div class="column">
                <h6 class="dropdown-header">Accessibility ♿</h6>
                <a class="dropdown-item" href="/tools/accesibility/wcag"><i class="fas fa-universal-access"></i> WCAG-AA/AAA</a>
                <a class="dropdown-item" href="/tools/accesibility/ortografia"><i class="fas fa-spell-check"></i> Ortografia</a>
                <a class="dropdown-item" href="#"><i class="fas fa-tachometer-alt"></i> Velocidad (Speed)</a>
                <a class="dropdown-item" href="#"><i class="fas fa-vials"></i> Core Web Vitals</a>
                <a class="dropdown-item" href="#"><i class="fas fa-mobile-alt"></i> Responsive</a>
              </div> 
              <div class="column">
                <h6 class="dropdown-header">Image Optimization 🖼️</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-image"></i> Images</a>
                <a class="dropdown-item" href="#"><i class="fas fa-clock"></i> Lazy Loading Images</a>
                <h6 class="dropdown-header">Mobile Optimization 📱</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-mobile"></i> AMP Valid Page</a>
                <a class="dropdown-item" href="#"><i class="fas fa-mobile-alt"></i> Mobile Audit</a>
                <a class="dropdown-item" href="#"><i class="fas fa-mobile"></i> Mobile_audit_Results</a>
              </div>
              <div class="column">
                <h6 class="dropdown-header">Usability 🧭</h6>
                <a class="dropdown-item" href="/tools/usability/missing-favicon"><i class="fas fa-star"></i> Favicon Missing</a>
                <a class="dropdown-item" href="/tools/usability/flash-used"><i class="fas fa-bolt"></i> Flash Used</a>
                <a class="dropdown-item" href="/tools/usability/x-card-missing'"><i class="fas fa-times"></i> X Card Tag Missing</a>
                <a class="dropdown-item" href="#"><i class="fas fa-search"></i> Google Search Display</a>
                <a class="dropdown-item" href="#"><i class="fas fa-tasks"></i> Content Optimization</a>
                <a class="dropdown-item" href="#"><i class="fas fa-random"></i> Redirection Management</a>

              </div>
            </div>
          </ul>
        </li>

        <!-- SEO / Optimization -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="seoOptimizationDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            🔍 SEO
          </a>
          <ul class="dropdown-menu" aria-labelledby="seoOptimizationDropdown">
            <div class="dropdown-menu-columns">
              <div class="column">
                <h6 class="dropdown-header">On-Page SEO 📝</h6>
                <a class="dropdown-item" href="/tools/seo/titles"><i class="fas fa-heading"></i> Títulos (Titles)</a>
                <a class="dropdown-item" href="/tools/seo/meta-description"><i class="fas fa-clipboard"></i> Meta Description</a>
                <a class="dropdown-item" href="/tools/seo/meta-keywords"><i class="fas fa-key"></i> Meta Keywords</a>
                <a class="dropdown-item" href="/tools/seo/headings"><i class="fas fa-heading"></i> Encabezados (Headings)</a>
                <a class="dropdown-item" href="#"><i class="fas fa-image"></i> Imágenes (Images)</a>
                <a class="dropdown-item" href="/tools/seo/canonicals"><i class="fas fa-link"></i> Canonicals</a>
                <a class="dropdown-item" href="/tools/seo/directives"><i class="fas fa-exclamation-circle"></i> Directives</a>
                <a class="dropdown-item" href="/tools/seo/shema-org"><i class="fas fa-code"></i> Schema.org</a>
                <a class="dropdown-item" href="#"><i class="fas fa-share-alt"></i> OpenGraph</a>
                <a class="dropdown-item" href="/tools/seo/hreflang"><i class="fas fa-language"></i> Hreflang</a>
                <a class="dropdown-item" href="/tools/seo/urls"><i class="fas fa-link"></i> URLs</a>
                <a class="dropdown-item" href="#"><i class="fas fa-clone"></i> Duplicate Content</a>

              </div>
              <div class="column">
                <h6 class="dropdown-header">Crawling & Linking 🕷️</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-robot"></i> robots.txt</a>
                <a class="dropdown-item" href="#"><i class="fas fa-sitemap"></i> Sitemap</a>
                <a class="dropdown-item" href="#"><i class="fas fa-unlink"></i> Enlaces Rotos (Broken Links)</a>
                <a class="dropdown-item" href="#"><i class="fas fa-external-link-alt"></i> Enlaces Salientes (Outgoing
                  Links)</a>
                <a class="dropdown-item" href="#"><i class="fas fa-link"></i> Backlinks</a>
                <a class="dropdown-item" href="#"><i class="fas fa-external-link-alt"></i> External Links</a>
                <a class="dropdown-item" href="#"><i class="fas fa-link"></i> Internal Links</a>
                <h6 class="dropdown-header">HTML/CSS Compliance 🖥️</h6>
                <a class="dropdown-item" href="/tools/seo/css"><i class="fas fa-code"></i>CSS Issues</a>
                <a class="dropdown-item" href="/tools/seo/deprecated-html"><i class="fas fa-exclamation-triangle"></i> Deprecated HTML Tags</a>
                <a class="dropdown-item" href="/tools/seo/gzip"><i class="fas fa-compress"></i> Gzip Compression</a>
              </div>
              <div class="column">
                <h6 class="dropdown-header">Website Security 🛡️</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-tags"></i> X-Tags</a>
                <a class="dropdown-item" href="#"><i class="fas fa-info-circle"></i> Header Info</a>
                <a class="dropdown-item" href="#"><i class="fas fa-lock"></i> HTTPS/SSL</a>
                <a class="dropdown-item" href="#"><i class="fas fa-server"></i> Server Response</a>
                <a class="dropdown-item" href="#"><i class="fas fa-shield-alt"></i> Security_Info</a>
                <a class="dropdown-item" href="#"><i class="fas fa-exchange-alt"></i> Canonical HTTPS to HTTP</a>
                <a class="dropdown-item" href="#"><i class="fas fa-exchange-alt"></i> HTTP to HTTPS Redirect</a>
                <h6 class="dropdown-header">Localization 📍</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-code"></i> Invalid hreflang attribute</a>
                <a class="dropdown-item" href="#"><i class="fas fa-language"></i> Multiple language codes</a>
                <a class="dropdown-item" href="#"><i class="fas fa-code"></i> Invalid HTML lang attribute</a>
                <a class="dropdown-item" href="#"><i class="fas fa-clone"></i> Language duplicate</a>
                <a class="dropdown-item" href="#"><i class="fas fa-code"></i> HTML lang missing</a>
                <a class="dropdown-item" href="#"><i class="fas fa-exclamation-triangle"></i> x-default attribute
                  missing</a>
              </div>
            </div>
          </ul>
        </li>

<!-- 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="securityComplianceDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            📊 Informes
          </a>
          <ul class="dropdown-menu" aria-labelledby="securityComplianceDropdown">
            <div class="dropdown-menu-columns">
              <div class="column">
                <h6 class="dropdown-header">Técnicos 🧪</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-tags"></i> Salud del Dominio</a>
                <a class="dropdown-item" href="#"><i class="fas fa-tags"></i> Reputación email</a>
                <a class="dropdown-item" href="#"><i class="fas fa-tags"></i> Auditoria Seguridad</a>
                <a class="dropdown-item" href="#"><i class="fas fa-tags"></i> Problemas de Rastreo</a>

              </div>
              <div class="column">
                <h6 class="dropdown-header">Marketing 📊</h6>
                <a class="dropdown-item" href="#"><i class="fas fa-tags"></i> Auditoria SEO</a>
                <a class="dropdown-item" href="#"><i class="fas fa-tags"></i> Posicionamiento</a>
                <a class="dropdown-item" href="#"><i class="fas fa-tags"></i> Competencia</a>
              </div>
              <div class="column">
                <h6 class="dropdown-header">Comerciales 📈</h6>

              </div>

            </div>
          </ul>
        </li>
-->


        <!-- Localization / Internationalization (i18)
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="localizationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Localization / Internationalization (i18) <i class="fas fa-chevron-down"></i>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="localizationDropdown">
                          <div class="dropdown-menu-columns">
                              <div class="column">
                                  
                              </div>
                              <div class="column featured">
                               
                              </div>
                          </div>
                      </ul>
                  </li>  -->
      </ul>
      <div class="d-flex">

        {% if current_user.is_authenticated %}

        <!--
        <span class="nav-item dropdown">
          <a class="btn btn-outline-primary me-2 ms-1 dropdown-toggle" href="#" id="domainDnsDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="item-responsive">🌐 Mis Sitios<i class="fa-solid fa-chevron"></i></span>

          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <li><a class="dropdown-item" href="{{ url_for('profile') }}">Mi perfil</a></li>
            <li><a class="dropdown-item" href="{{ url_for('configuracion') }}"> Configuración</a></li>
            <li><a class="dropdown-item" href="{{ url_for('change_password') }}"> Seguridad</a></li>

            {% if is_admin %}
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{ url_for('admin_register') }}">Añadir Usuario</a></li>
            <li><a class="dropdown-item" href="{{ url_for('admin_stats') }}">Estadisticas</a></li>
            <li><a class="dropdown-item" href="{{ url_for('configuracion') }}">Config</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{ url_for('activity') }}">Actividad</a></li>
            <li><a class="dropdown-item" href="{{ url_for('logs') }}">Accesos</a></li>
            <li><a class="dropdown-item" href="{{ url_for('usuarios') }}">Usuarios</a></li>

            {% endif %}
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-crown"></i> Soporte</a></li>
            <li><a class="dropdown-item" href="{{ url_for('logout') }}"> Cerrar sesión</a></li>
          </ul>
        </span>
        -->
        
        <span class="nav-item dropdown">
          <a class="btn btn-outline-primary me-2 ms-1 dropdown-toggle" href="#" id="domainDnsDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            👤 <span class="item-responsive">Hi {{ current_user.username }} <i class="fa-solid fa-chevron"></i></span>

          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <li><a class="dropdown-item" href="{{ url_for('profile') }}">Mi perfil</a></li>
            <li><a class="dropdown-item" href="{{ url_for('configuracion') }}"> Configuración</a></li>
            <li><a class="dropdown-item" href="{{ url_for('change_password') }}"> Seguridad</a></li>

            {% if is_admin %}
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{ url_for('admin_register') }}">Añadir Usuario</a></li>
            <li><a class="dropdown-item" href="{{ url_for('admin_stats') }}">Estadisticas</a></li>
            <li><a class="dropdown-item" href="{{ url_for('configuracion') }}">Config</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{ url_for('activity') }}">Actividad</a></li>
            <li><a class="dropdown-item" href="{{ url_for('logs') }}">Accesos</a></li>
            <li><a class="dropdown-item" href="{{ url_for('usuarios') }}">Usuarios</a></li>

            {% endif %}
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-crown"></i> Soporte</a></li>
            <li><a class="dropdown-item" href="{{ url_for('logout') }}"> Cerrar sesión</a></li>
          </ul>
        </span>
        {% else %}

        <a class="btn btn-outline-primary me-2 ms-1" href="{{ url_for('login') }}"><i class="fa-solid fa-key"></i>
          Acceder</a>

        <a class="btn btn-outline-primary me-2 ms-1" href="{{ url_for('register') }}"><i class="fa-solid fa-crown"></i>
          Empezar gratis</a></li>
        {%endif%}
        <!--
        <a href="#" class="btn btn-outline-primary me-2">Sign in</a>
        <a href="#" class="btn btn-primary">Start Free Trial</a> -->
      </div>
    </div>
  </div>
</nav>