<!-- app/templates/edit_profile.html -->

{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1 class="my-4">Editar Perfil</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      <label for="username" class="form-label">Nombre de usuario</label>
      {{ form.username(class="form-control", readonly=not can_edit) }}
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" readonly>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      {{ form.password(class="form-control", readonly=not can_edit) }}
    </div>
    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirmar Contraseña</label>
      {{ form.confirm_password(class="form-control", readonly=not can_edit) }}
    </div>
    {% if can_edit %}
    <div class="mb-3">
      <label for="role" class="form-label">Rol</label>
      {{ form.role(class="form-control") }}
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="active" name="active" {% if form.active.data %}checked{% endif %}>
        <label class="form-check-label" for="active">Activo</label>
      </div>
      
    {% endif %}
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </form>
</div>
{% endblock %}
