{% extends "base.html" %}

{% block title %}Editar Métodos de Pago{% endblock %}

{% block content %}
<h2>Editar Métodos de Pago</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.primary_payment_method.label }}
        {{ form.primary_payment_method(class="form-control") }}
        {{ form.primary_payment_details.label }}
        {{ form.primary_payment_details(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.secondary_payment_method.label }}
        {{ form.secondary_payment_method(class="form-control") }}
        {{ form.secondary_payment_details.label }}
        {{ form.secondary_payment_details(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}
