<!-- app/templates/reset_password_request.html -->

{% extends "base.html" %}

{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
    <h2>Recuperar contraseña</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Enviar correo electrónico de recuperación</button>
    </form>
{% endblock %}
