{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="my-4">Historial de Actividades</h1>
  
  <!-- Tabla de Logs -->
  <div class="card">
    <div class="card-body">
      {% if logs %}
      <table id="logsTable" class="table table-striped">
        <thead>
          <tr>
            <th>Fecha y Hora</th>
            <th>Evento</th>
            <th>Tool</th>
            <th>IP</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          {% for log in logs %}
          <tr>
            <td>{{ log.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td>{{ log.event }}</td>
            <td>{{ log.tool }}</td>
            <td>{{ log.ip_address }}</td>
            <td>
              <span class="badge {% if log.log_type == 'info' %}bg-success{% elif log.log_type == 'warn' %}bg-warning{% else %}bg-danger{% endif %}">
                {{ log.log_type }}
              </span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No hay registros de actividad disponibles.</p>
      {% endif %}
    </div>
  </div>

    <!-- Estadísticas -->
    <div class="row mb-4">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Estadísticas de Actividad</h5>
              <ul class="list-group">
                <li class="list-group-item">
                  <strong>Herramientas Más Usadas:</strong>
                  <ul>
                    {% for tool, count in stats['most_used_tools'] %}
                    <li>{{ tool }} - {{ count }} veces</li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="list-group-item">
                  <strong>% de Tipos de Avisos:</strong>
                  <ul>
                    {% for log_type, percentage in stats['log_type_percentages'].items() %}
                    <li>{{ log_type }}: {{ percentage|round(2) }}%</li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="list-group-item">
                  <strong>Herramientas Diferentes Usadas:</strong> {{ stats['unique_tools'] }}
                </li>
                <li class="list-group-item">
                  <strong>Registros por Día:</strong> {{ stats['logs_per_day'] }}
                </li>
                <li class="list-group-item">
                  <strong>Registros por Mes:</strong> {{ stats['logs_per_month'] }}
                </li>
                <li class="list-group-item">
                  <strong>Registros por Año:</strong> {{ stats['logs_per_year'] }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        new simpleDatatables.DataTable('#logsTable', {
            searchable: true,
            fixedHeight: true,
            labels: {
                placeholder: "Search logs...",
                perPage: "{select} entries per page",
                noRows: "No logs found",
                info: "Showing {start} to {end} of {rows} entries",
            },
        });
    });
</script>

{% endblock %}
