<!-- app/templates/tools/domains/whois.html -->
 
{% extends "base.html" %}

{% block title %}{{title}} | {{slogan}}{% endblock %}
{% block description %}{{slogan}}{% endblock %}
{% block keywords %}{{keywords}}{% endblock %}


{% block content %}


<style>
    .results-table {
        margin-top: 20px;
    }

    .results-table th,
    .results-table td {
        text-align: left;
        padding: 10px;
    }

    .results-table th {
        background-color: #f8f9fa;
    }

    .results-table td {
        background-color: #fff;
    }

    .duration {
        font-style: italic;
    }

    #duration-chart-container {
        max-width: 400px;
        /* Adjusted the maximum width */
        margin: 20px auto;
    }

    #duration-chart {
        width: 100% !important;
        height: auto !important;
    }

    .status-icon {
        font-size: 2rem;
    }

    .status-icon.valid {
        color: green;
    }

    .status-icon.invalid {
        color: red;
    }
</style>


    {% include 'inc/breadcrumbs.html' %}

    <h2  class="mb-3">{{title}} <i class="bi bi-info-circle info-icon" data-bs-toggle="modal" data-bs-target="#infoModal"></i></h2>
    <p  class="mb-3">{{ slogan }}</p>

    <div class="alert alert-info" role="alert">
        <p class="mb-0">{{ definition }}</p>
    </div>

    {% include 'tools/quick_form.html' %}

    <hr>
    {% if results %}
        <h3>Resultados de {{ title }}:</h3>


        <div class="row">
            <div class="col-md-6">
                <p class="duration">Duración del scan: {{ duration }} segundos</p>
                <div id="duration-chart-container">
                    <canvas id="duration-chart"></canvas>
                </div>
            </div>
            <div class="col-md-6 text-center">
                {% if is_results_valid %}
                <i class="fas fa-check-circle status-icon valid"></i>
                <p class="text-success">Resultados válidos</p>
                {% else %}
                <i class="fas fa-exclamation-circle status-icon invalid"></i>
                <p class="text-danger">Resultados no válidos</p>
                {% endif %}
            </div>
        </div>

        {% if is_results_valid %}
            <table class="table table-striped table-bordered results-table">
                <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in results['whois_lookup'].items() %}
                    {% if value %}
                    <tr>
                        <th>{{ key | replace("_", " ") | title }}</th>
                        <td>
                            {% if value is string %}
                            {{ value }}
                            {% elif value is iterable and not value is string %}
                            <ul>
                                {% for item in value %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            {{ value }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No se encontraron resultados válidos.</p>
        {% endif %}

        {% include 'tools/buzz_report.html' %}

    {% endif %}

    {% include 'tools/help_modal.html' %}

{% endblock %}