<!-- app/templates/cookies_notice.html -->

{% if not current_user.is_authenticated and not cookies_accepted %}
<div class="modal fade" id="cookiesModal" tabindex="-1" role="dialog" aria-labelledby="cookiesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cookiesModalLabel">Aviso de cookies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Este sitio web utiliza cookies para ofrecerte la mejor experiencia de usuario posible.</p>
                <p>¿Aceptas el uso de cookies en este sitio?</p>
            </div>
            <div class="modal-footer">
                <form method="POST" action="{{ url_for('accept_cookies') }}">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Rechazar</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if 'show_cookies_modal' in session %}
<script>

    $(document).ready(function () {
        $('#cookiesModal').modal('show');
    });

</script>
{% endif %}