<!-- app/templates/start.html -->

{% extends "base_full.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<style>



</style>


{% include "inc/jumbotron.html" %}

{% include "inc/suscriptions.html" %}


{% include "inc/benefits.html" %}


{% include "inc/online_test.html" %}

{% include "tools/tools_by_cat.html" %}

{% include "tools/new-tools.html" %}

{% include "inc/featurettes.html" %}

{% include "inc/features.html" %}

{% include "tools/most-used.html" %}

{% include "inc/testimonials.html" %}


<!-- CTA Section 
<section class="cta-section">
    <div class="container">
        <h2 class="mb-4">Start Your Free Trial Now!</h2>
        <p class="lead">Access all tools with a 7-day trial and discover the impact on your digital presence.</p>
        <form>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Tu correo electrónico"
                    aria-label="Correo electrónico" required>
                <button class="btn btn-primary" type="submit">Comenzar Prueba</button>
            </div>
        </form>
        <p>Ingresa tu correo electrónico para comenzar tu prueba gratuita. <strong>¡Sin tarjeta de crédito
                requerida!</strong></p>

    </div>
</section>
-->
<script>
    // Añadir evento submit al formulario para mostrar el spinner en el botón
    document.getElementById('pageInfoForm').addEventListener('submit', function () {
        document.getElementById('btnText').classList.add('d-none');
        document.getElementById('loadingSpinner').classList.remove('d-none');
    });
</script>
{% endblock %}